body {
    margin: 0;
    font-family: 'Oleo Script', cursive;
  }

  #last-updated,
  #current-location,
  #instructions {
      font-family: arial;
      font-weight: bold;
  }

  #walking-radius {
      color: red;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.5em;
  }

  video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      transition: 1s opacity;
  }
   h1 {
       font-size: 64px;
   }
  #bikePicture {
      width: 400px;
      border-radius:50%;
      margin-top:200px;
     
      margin-bottom: 20px
  }
 #startButton {
     padding: 15px 80px 15px 80px;
     margin-left: 60px;
     background-color: rgb(121, 123, 245);

 }

 @media screen and (max-width:980px) { 
    
    div{width:100%;} 
    #bikePicture {
        width:100%;
        max-width: 400px;
    }
 @media screen and (max-width: 768px) { 
    #bikePicture {
        width:90%;
        margin-top:300px;
        margin-left:30px;
    }
}
  @media screen and (max-width:640px) { 
      h1 {
          font-size: 48px;
          margin-left: 20px;
      }
  }
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    font: "Times New Roman";
    font-family: 'Times New Roman', Times, serif;
  }
  
  .btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
  }

#map-section{
	width: 100%;
	height: 700px;
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.weather-section {
    min-height: 10px;
    border: 1px #d5d39a solid;
}



#floating-panel {
	position: absolute;
	top: 30px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
  }
