body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      transition: 1s opacity;
  }
   h1 {
       font-size: 64px;
   }
  #bikePicture {
      width: 400px;
      border-radius:50%;
      margin-top:80px;
      margin-bottom: 20px;
  }
 #startButton {
     padding: 15px 80px 15px 80px;
     margin-left: 60px;
     background-color: rgb(121, 123, 245);

 }

 @media screen and (max-width:980px) { 
    
    div{width:100%;} 
    #bikePicture {
        width:100%;
        max-width: 400px;
    }
 @media screen and (max-width: 768px) { 
    #bikePicture {
        width:90%;
        margin-top:240px;
        margin-left:30px;
    }
}
  @media screen and (max-width:640px) { 
      h1 {
          font-size: 48px;
          margin-left: 20px;
      }
  }
}

.labels {
	color:#000000;
	font-weight: bold;
	font-size: 2em;
}

#map-section{
	width: 100%;
	height: 799px;
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
  }
