
.labels {
	color:#000000;
	font-weight: bold;
	font-size: 1em;
}

#map-section{
	width: 100%;
	height: 799px;
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
  }