
.labels {
	color:#000000;
	font-weight: bold;
	font-size: 2em;
}

#trafficSection{
	width: 100%;
	height: 799px;
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
